body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 3000px;
}

header {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #ffffff;

  color: #454343;
  padding: 0px 200px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 80px;
}

.code-icon {
  height: 50px;
}

#about {
  font-size: 40px;
  padding: 0px 200px 0px 200px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.intro {
  color: black;
  width: 900px;
  margin-bottom: 10px;
}

.bio {
  margin-top: 0px;
  color: #5d5d5d;
  width: 1000px;
}

#buttons {
  padding: 0px 200px 0px 200px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 50px;
  margin-bottom: 200px;
}

.contact-button {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 20px 20px 20px 20px;
  margin-right: 20px;
  border-radius: 8px;

  transition: 0.15s;
}

.contact-button:hover {
  box-shadow:  5px 5px 10px rgb(94, 93, 93);
}

.contact-button:active {
  opacity: 0.8;
}


.github-button {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin-right: 20px;
  border-radius: 8px;
  border-style: solid;
  border-color: #5d5d5d;

  transition: 0.15s;
}

.github-button:hover {
  color: white;
  background-color: black;
  box-shadow:  5px 5px 10px rgb(94, 93, 93);
}

.github-button:active {
  opacity: 0.8;
}



.user-pic {
  height: 700px;
  width: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.image-section {
  display: flex;
  position: absolute;
  right: 220px;
  top: 170px;
}

#projects {
  font-size: 30px;
  padding: 0px 200px 0px 200px;
 
}

.projects-intro {
  margin: 0px;
}



header nav ul {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 80px;
}

header nav ul li a {
  font-weight: 500;
  color: #4e4e4e;
  text-decoration: none;
}

section {
  padding: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}